.container{
    margin: auto;
    width: fit-content;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

@media screen and (max-width: 600px){
    .container{
        justify-content: unset;
        align-items: flex-end;
    }
}
